<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3><%= 5*4 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum minus, reprehenderit hic quibusdam accusamus error ex fugiat excepturi numquam cupiditate voluptate magnam expedita rerum, eaque deserunt voluptas placeat? Vitae, repudiandae.</p>
    <button>Click me!</button>
</body>
</html>