.red{
    color:red;
}

.blue {
    color:blue;
}

.box {
    border: 1px solid black;
    background-color: pink;
}

.btnstyle {
    background-color: blue;
    color:white;
}
.h2 {
    color:purple;
}
.p1 {
    color:red;
}